body {
    font-family: "Roboto", sans-serif, normal;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo_b {
    color: #2e2f42;
}

.link_nav {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.link_nav:hover, .link_nav:focus {
    color: #2e2f42;
}

.section_title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111;
}

.title {
    background-color: #2E2F42;
    color: #fff;
    text-align: center;
}

.advantages {
    background-color: #fff;
}

.team {
    background-color: #f4f4fd;
}

.portfolio {
    background-color: #fff;
}

