body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    line-height: 1.5;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo_a {
    color: #2e2f42;
}

.link_nav {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link_nav:hover, .link_nav:focus {
    color: #404bbf;
}

.contacts {
   font-style: normal; 
}

.link_contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link_contacts:hover, .link_contacts:focus {
    color: #404bbf;
}

.bloc_a {
    background-color: #2E2F42;
    text-align: center;
    
}
.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.butt {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.butt:hover, .butt:focus {
    background-color: #404bbf;
}

.item_title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.bloc_c {
    background-color: #f4f4fd;
}

.bloc_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.item {
    background-color: #ffffff;
}

.floor {
    background-color: #2e2f42;
}

.logo_b {
    color: #f4f4fd;
}

.logo_text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}